@import url('./style.css');

:root {
    --bg-header-login: #3f51b5 !important;
    --color-texto-primario: #424242;
    --color-texto-secundario: #007bff;
    --color-gris: #929292;
    --sombra-contenedor: 0 0 6px rgba(0, 0, 0, .3);
    --relleno-input: 1rem 1.2rem;
}

body {
    font-family: 'Roboto', sans-serif;
    margin-left: unset;
    margin-top: unset;
    transition: unset;
}

.login_main {
    height: 100vh;
}

.nav {
    width: 100%;
    background-color: var(--bg-header-login);
}

.nav_menu-center {
    gap: 1rem;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.contendor_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    margin-top: 5rem;
}

.contendor_login h1 {
    font-size: 1.5rem;
    color: var(--color-texto-primario);
}

.contendor_login h3 {
    font-size: 1.2rem;
    color: var(--color-text-empresa);

}

.login {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    padding: 1rem;
    width: 100%;
    border-left: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    margin: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: box-shadow .3s linear;
    -webkit-transition: box-shadow .3s linear;
    -moz-transition: box-shadow .3s linear;
    -ms-transition: box-shadow .3s linear;
    -o-transition: box-shadow .3s linear;
    box-shadow: var(--sombra-contenedor);
}

.login_grupo_inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 20px;
}

.login_input {
    position: relative;
}

.login_input input {
    padding: var(--relleno-input);
    border: 2px solid var(--bg-header-login);
    border-radius: var(--border-redondeado);
    color: var(--color-texto-primario);
    background-color: transparent;
    transition: .2s;
    font-size: 1rem;
    width: 100%;
}

.login_input label {
    position: absolute;
    left: 10px;
    top: 18px;
    padding: 0 4px;
    font-weight: 400;
    color: var(--bg-header-login);
    background-color: var(--color-white);
    transition: .2s;
    pointer-events: none;
}

.login_input input:focus {
    outline: none;
}

.login_input input:not(:placeholder-shown)~label,
.login_input input:focus~label {
    top: -8px;
    font-size: 13px;
    color: var(--bg-header-login);
}

.login_boton {
    margin: unset;
}

.login_recuperar_contraseña {
    color: var(--color-texto-secundario);
    font-weight: 400;
}

.login_separador {
    position: relative;
    height: 20px;
}

.login_separador::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #c5c5c5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 0;
}

.login_separador::after {
    content: "o";
    display: block;
    position: absolute;
    padding: 0 10px;
    background-color: #fff;
    color: #888888;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login_grupo_columan {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.boton_google {
    display: flex;
    align-items: center;
    gap: .8rem;
    background-color: var(--bg-aside);
    box-shadow: var(--sombra-contenedor);
    color: var(--color-gris);
    font-weight: 400;
    margin: unset;
    padding: 1rem;
}

.boton_google:hover {
    background-color: unset;
    color: unset;
}

.login_grupo_columan small {
    color: var(--color-danger);
    font-size: .7rem;
    letter-spacing: 1px;
    font-weight: 400;
}

.login_comunicados {
    color: var(--color-texto-secundario);
    font-weight: 700;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

@media (min-width: 768px) {
    .contendor_login {
        margin-top: 0;
    }

    .nav_menu-center {
        justify-content: center;
    }

    .nav_menu-center .texto_movil {
        display: none;
    }

    .nav_menu-center .texto_escritorio {
        display: block;
    }

    .contendor_login h1 {
        font-size: 1.8rem;
    }

    .contendor_login h3 {
        font-size: 1.3rem;
    }
}