*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-white: white;
    --color-black: black;
    --bg-header: #224fb1;
    --color-secundario: #275ac8;
    --color-text-empresa: #656565;
    --bg-sub-item: #ebebeb;
    --bg-hover: #aabced;
    --bg-hover-item: rgba(0, 0, 0, 0.37);
    --color-text-hover: #224fb1;
    --bg-aside: #fafafa;
    --color-danger: #e02525;
    --color-danger-hover: #a91d1d;
    --color-warnign: #e0d025;
    --color-warnign-hover: #ffef39;
    --color-border-btn: #4fc6e7;
    --boton-success: #2c992c;
    --boton-success-hover: #2c992cb2;
    --boton-secundario: #ff8000;
    --boton-secundario-hover: #ff80009e;
    --color-border-contenedor: rgba(0, 0, 0, 0.177);
    --border-redondeado: 2px;
    --border-redondeado-boton-ventana: 6px;
    --border-redondeado-ventana-modal: 13px;
    --box-shadow-caja: 0 2px 2px 0 rgba(0, 0, 0, .14),
        0 3px 1px -2px rgba(0, 0, 0, .2),
        0 1px 5px 0 rgba(0, 0, 0, .12);
    --box-shadow-caja-modal: 5px 8px 25px rgba(0, 0, 0, 0.189);
    --text-shadow-texto: 0 2px 10px 0 rgba(255, 255, 255, 0.651);
    --relleno-input: 12px 16px;
}

/* ESTILOS GENERALES */
body {
    font-family: 'Roboto', sans-serif;
    margin-left: 0;
    margin-top: 56px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

a {
    color: var(--color-black);
}

.font_mediana {
    font-size: 1.3rem;
}

.font_grande {
    font-size: 1.5rem;
}

.icono {
    cursor: pointer;
}

.texto_mayuscula {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.texto_capitalize {
    text-transform: capitalize;
}

i {
    cursor: pointer;
}

h4 {
    font-size: 1.125em;
}

h5 {
    font-size: .9em;
}

img {
    object-fit: cover;
}

main {
    min-height: 90vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    transition: padding 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

main.relleno {
    padding-left: 50px;
    padding-right: 50px;
}

label {
    text-transform: capitalize;
    color: var(--color-text-empresa);
    font-weight: 300;
    font-size: .9em;
}

legend {
    font-size: 1.1em;
    font-weight: 700;
}

.fw-400 {
    font-weight: 400;
}

.fw-700 {
    font-weight: 700;
}

.d-block {
    display: block !important;
}

.d-none {
    display: none;
}

.my-4{
    margin-top: 4rem !important;
    /* margin-bottom: 4rem !important; */
}

.grupos_inputs {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr;
}

.grupo {
    padding: 1em 0;
    display: grid;
    gap: 1em;
}

.grupo-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grupo_fila {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.grupo_columna {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.grupo_fila-100 {
    display: flex;
    flex-direction: column;
}

.grupo_fila label {
    display: flex;
    align-items: center;
    gap: 1em;
}

.grupo_fila input {
    width: 100%;
    outline: none;
    border: 1px solid var(--color-text-empresa);
    border-radius: var(--border-redondeado);
    padding: var(--relleno-input);
    font-size: .9em;
    font-weight: 300;
    color: var(--color-secundario);
    letter-spacing: .6px;

}

.grupo_fila input:focus {
    border-color: var(--color-secundario);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color: var(--color-secundario);
    cursor: pointer;
    font-size: .9em;
}

select::-ms-expand {
    display: none;
}

/* ESTILOS PARA LA BARRA LATERAL */
::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    box-shadow: 0 0 5px 10px var(--color-text-empresa) inset;
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg-hover);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #d0ddff;
}

/* BOTON PRIMARIO */

.boton {
    outline: none;
    border: none;
    background-color: var(--bg-header);
    color: var(--color-white);
    padding: var(--relleno-input);
    border-radius: var(--border-redondeado);
    box-shadow: var(--box-shadow-caja);
    text-shadow: var(--text-shadow-texto);
    font-weight: 600;
    font-size: clamp(.7rem, 1vw, .8rem);
    margin: 1.5em 0;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color .3s, color .3s, transform .1s;
}

.boton:hover {
    background-color: var(--bg-hover);
    color: var(--bg-header);
}

.boton:active {
    transform: scale(1.1);
}

/* FIN BOTON PRIMARIO */

/* BTON SECUNDARIO */
.boton_secundario {
    background-color: var(--boton-secundario);
}

.boton_secundario:hover {
    background-color: var(--boton-secundario-hover);
    color: var(--color-black);
}

/* FIN BTON SECUNDARIO */

/* BOTON SUCCESS */
.boton_success {
    background-color: var(--boton-success);
}

.boton_success:hover {
    background-color: var(--boton-success-hover);
    color: var(--color-black);
}

/* FIN BOTON SUCCESS */

/* BOTONES DE EDITAR Y ELIMINAR */
.editar {
    background-color: var(--color-warnign);
}

.eliminar {
    background-color: var(--color-danger);
}

.editar:hover {
    background-color: var(--color-warnign-hover);
    color: var(--color-black);
}

.eliminar:hover {
    background-color: var(--color-danger-hover);
    color: var(--color-black);
}

.editar i,
.eliminar i {
    display: none;
}

/* FIN BOTONES DE EDITAR Y ELIMINAR */

.botones_flex {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.grupo-40 {
    width: 40%;
}

.grupo-60 {
    width: 60%;
}

.hidden {
    color: var(--color-white);
}

.textarea_contenedor {
    margin-bottom: 1rem;
    gap: .5em;
    grid-column: 1/-1;
}

.textarea_contenedor textarea {
    width: 100%;
    height: 5rem;
    resize: vertical;
    padding: .5rem 1rem;
    font-family: inherit;
    outline: none;
}

.file_icono {
    position: relative;
    padding: var(--relleno-input);
    overflow: hidden;
    background-color: transparent;
    border: none;
    font-size: 1rem;
}

.file_icono i {
    margin-left: 1rem;
}

.file_icono input[type="file"] {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.celda_activa {
    background-color: var(--bg-hover);
}

.presente {
    background-color: var(--boton-success);
    color: var(--bg-aside);
    padding: .8rem 1rem;
    border-radius: var(--border-redondeado);
}

.tardanza {
    background-color: var(--color-warnign);
    color: var(--bg-aside);
    padding: .8rem 1rem;
    border-radius: var(--border-redondeado);
}

.falta {
    background-color: var(--color-danger);
    color: var(--bg-aside);
    padding: .8rem 1rem;
    border-radius: var(--border-redondeado);
}

.no_content {
    text-align: center;
    color: var(--color-text-empresa);
    font-weight: 600;
    font-size: clamp(.8rem, 4vw, 1rem);
}

/* FIN ESTILOS GENERALES */

/* PAGINA INICIO */
.contenedor_inicio {
    width: 100%;
    height: 80vh;
    display: grid;
    place-items: center;
    text-align: center;
}

.titulo_inicio {
    font-size: clamp(2rem, 5vw, 3.2rem);
    font-weight: 300;
    color: var(--color-text-empresa);
    line-height: 1.5;
    letter-spacing: 0.25em;
}

.titulo_inicio-bold {
    font-weight: 400;
}

.imagen_inicio {
    margin-top: 2rem;
    width: 70%;
    max-width: 280px;
}

/* FIN PAGINA INICIO */


/* TABLA DOMICILIO */
.tabla_contenedor {
    display: block;
    width: 100%;
    margin: 1.2em 0;
    position: relative;
    overflow-x: auto;
}

.tabla {
    width: 100%;
    border-collapse: collapse;
}

.tabla,
tr,
th,
td {
    border: 1px solid var(--color-text-empresa);
}

.tabla thead tr th {
    font-size: .9em;
    font-weight: 600;
    letter-spacing: .35px;
    color: var(--color-black);
    opacity: 1;
    padding: 12px;
    vertical-align: middle;
    border: 1px solid var(--color-text-empresa);
}

.tabla tbody tr td {
    font-size: .9em;
    letter-spacing: .35px;
    font-weight: normal;
    color: var(--color-text-empresa);
    padding: 8px;
    text-align: center;
    border: 1px solid var(--color-text-empresa);
}

.mb-0 {
    margin-bottom: 0 !important;
}


/* BARRA DE NAVEGACION */
.nav {
    width: 100%;
    min-height: 56px;
    background-color: var(--bg-header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-white);

    position: fixed;
    top: 0;
    right: 0;
    z-index: 50;
    padding: 0 25px;

    box-shadow: var(--box-shadow-caja);

    transition: width 0.4s, transform 0.4s !important;
}

.nav.ancho_maximo {
    width: calc(100% - 300px);
}

.nav_menu {
    width: 90%;
    display: flex;
    align-items: center;
    gap: 20px;
    color: inherit;
}

/* Animacion de los iconos menu y close */
.nav:has(.dropdown:target) {
    /* --img1: scale(0);
    --img2: scale(1); */

    --clip: inset(0 0 0 0);
    /* esto es para ocultar el menu vertical */
}

.nav i {
    font-size: 24px;
}

.nav_menu_vertical {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .3s;
    cursor: pointer;
}

.nav_menu_vertical:hover {
    background-color: var(--bg-hover);
}

.nav_menu span {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

/* FIN BARRA DE NAVEGACION */

/* MENU LATERAL */
aside {
    width: 0;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
    overflow: hidden;
    overflow-y: scroll;
    background-color: var(--bg-aside);
    color: var(--color-black);
    box-shadow: var(--box-shadow-caja);
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/* Ocultar scroll para chrome, safari y opera */
aside::-webkit-scrollbar {
    display: none;
}

/* Ocultar scroll para IE, Edge y Firefox */
aside {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.aside_logo {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.aside_logo img {
    height: 40px;
}

.aside_logo_textos {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.nav_link {
    color: var(--color-black);
    display: block;
    padding: 8px 0;
    text-decoration: none;
}

.nav_link--inside {
    border-radius: 6px;
    text-align: left;
    color: inherit;
}

.list_inside:hover {
    background-color: var(--bg-hover);
    color: var(--color-text-hover);
}

.list {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.list_item {
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.list_item--click {
    cursor: pointer;
}

.list_button {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 2px 12px 2px 12px;
    transition: background-color .3s, color .3s;
}

.list_button:hover {
    background-color: var(--bg-hover);
    color: var(--color-text-hover);
}

.arrow .list_arrow {
    transform: rotate(180deg);
}

.list_arrow {
    margin-left: auto;
    transition: transform .3s;
}

.list_show {
    width: 90%;
    margin-left: auto;
    list-style: none;
    transition: height .4s;
    height: 0;
}

.list_inside {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    padding: 2px 4px;
    transition: background-color .3s, color .3s;
}

.aside_logo_textos h4,
.aside_logo_textos span {
    color: var(--color-text-empresa);
    font-weight: 300;
}

.aside_logo_textos span {
    font-size: 12px;
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 50;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
}

.overlay.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: unset;
}

/* Clases para usar con JavaScript */
.body_move {
    margin-left: 300px;
}

.menu_side_move {
    width: 300px;
}

/* FIN MENU LATERAL */

/* MENU VERTICAL */
.dropdown {
    position: absolute;
    background-color: var(--bg-aside);
    width: 160px;
    height: 230px;
    right: 0;
    top: 48px;
    padding: 8px 0;
    border-radius: 2px;

    display: grid;
    align-content: space-around;

    /* Animacion con Clippy */
    clip-path: var(--clip, inset(0 0 100% 100%));
    transition: clip-path .5s;
    box-shadow: var(--box-shadow-caja);
}

.dropdown small {
    font-size: 12px;
    color: var(--color-text-empresa);
}

.dropdown small,
.dropdown_perfil {
    padding-right: 15px;
    padding-left: 15px;
}

.dropdown_perfil {
    display: flex;
    align-items: center;
    gap: .5em;
    margin-top: .5em;
}

.dropdown_perfil img {
    width: 32px;
    height: 32px;
    border: 1px solid var(--color-text-empresa);
}

.dropdown_perfil h5 {
    font-weight: 300;
    color: #bdbdbd;
}

.dropdown_link {
    color: var(--color-text-empresa);
    padding: 1em .7em;
    text-decoration: none;
    font-size: 14px;

    display: flex;
    align-items: center;

    position: relative;
    background-color: var(--bg, transparent);
}

.dropdown_link:hover {
    background-color: var(--bg-hover-item);
    color: var(--bg-sub-item);
}

/* FIN MENU VERTICAL */

/* CONTENIDO PRINCIPAL */
.contenedor_formulario {
    width: 100%;
    max-width: 1300px;
    height: 100%;
    margin: 1rem 0;
    padding: 1em;
    box-shadow: var(--box-shadow-caja);
    border-radius: 1em;
    overflow: hidden;
    overflow-y: scroll;
}

/* Ocultar scroll para chrome, safari y opera */
.contenedor_formulario::-webkit-scrollbar {
    display: none;
}

/* Ocultar scroll para IE, Edge y Firefox */
.contenedor_formulario {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.contenedor_perfil {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
}

.perfil_usuario {
    display: flex;
    gap: 1em;
    grid-column: 1/-1;
}

.perfil_usuario_contenido {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.perfil_usuario img {
    width: 120px;
    height: 120px;
    box-shadow: var(--box-shadow-caja);
    border-radius: 4px;
}

.perfil_nombre {
    font-size: 1.2rem;
    color: var(--color-text-empresa);
}

.perfil_nombre a {
    font-size: .9em;
    color: var(--bg-header);
}

.perfil_nombre a:hover {
    text-decoration: underline;
}

.perfil_botones {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.perfil_boton {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    border: none;
    background-color: transparent;
    outline: none;
    position: relative;
    cursor: pointer;
}

.perfil_boton legend {
    font-size: .8em;
    color: var(--color-text-empresa);
}

.perfil_boton div {
    width: 50px;
    height: 50px;
    padding: 5px;
    border: 1px solid var(--color-border-contenedor);
    border-radius: var(--border-redondeado);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .3s;
}

.perfil_boton:hover div {
    opacity: .6;
}

.perfil_boton div i {
    font-size: 1.2em;
}

.perfil_boton div input[type="file"] {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
}

.contenedor_botones_accion {
    width: 100%;
    margin-top: .8em;
    margin-bottom: .8em;
    padding: 5px;
}

.contenedor_botones_accion button {
    display: inline-block;
    width: max-content;
    padding: .6em 1em;
    border: 1px solid var(--color-danger);
    border-radius: var(--border-redondeado);
    background-color: transparent;
    font-size: 14px;
    font-weight: 300;
    color: var(--color-danger);
    cursor: pointer;
    transition: background-color .3s, color .3s;
}

.contenedor_botones_accion--2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    margin-bottom: 0;
}

.contenedor_botones_accion button:nth-child(1) {
    border-color: var(--color-border-btn);
    color: var(--color-border-btn);
}

.contenedor_botones_accion button:hover {
    background-color: var(--color-danger);
    color: var(--bg-aside);
}

.contenedor_botones_accion button:nth-child(1):hover {
    background-color: var(--color-border-btn);
    color: var(--bg-aside);
}

.contenedor_botones_accion--2 button,
.contenedor_botones_accion--2 button:nth-child(1) {
    border: 1px solid var(--color-border-contenedor);
    color: var(--color-text-empresa);
    transition-duration: .2s;
}

.contenedor_botones_accion--2 button:hover,
.contenedor_botones_accion--2 button:nth-child(1):hover {
    background-color: var(--color-text-empresa);
    color: var(--bg-aside);
}

.caja_tab {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1em;
    /* border-bottom: 2px solid var(--color-text-empresa); */
}

.btn_tab {
    font-size: .9em;
    border: none;
    outline: none;
    background-color: transparent;
    padding: .6em .8em;
    color: var(--color-secundario);
    font-weight: 600;
    border-radius: var(--border-redondeado);
    cursor: pointer;
}

.btn_tab-activo {
    border: 1px solid var(--color-border-contenedor);
    border-bottom: 2px solid #fafafa;
}

.caja_contenido {
    width: 100%;
    border: 1px solid var(--color-border-contenedor);
    padding: 1em .5em;
    border-radius: 2px;
    overflow: hidden;
    /* overflow-x: auto; */
}

.caja_contenido .contenido {
    display: none;
    animation: moving .5s ease;
}

@keyframes moving {
    from {
        transform: translateX(50px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.caja_contenido .contenido.btn_tab-activo {
    display: block;
    border: none;
}

/* FIN CONTENIDO PRINCIPAL */

/* GALERIA DE FOTOS DOCENTE */
.historial_fotos {
    padding: 18px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
    gap: 12px;
}

.historial_fotos .contenedorFoto {
    width: 100%;
    max-width: 200px;
    height: 200px;
    border-radius: var(--border-redondeado);
    overflow: hidden;
    justify-self: center;
}

.historial_fotos article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgFoto {
    cursor: pointer;
    transition: transform .3s ease-in;
}

.imgFoto:hover {
    transform: scale(1.1);
}

/* FIN GALERIA DE FOTOS DOCENTE */

/* DATOS PERSONALES */

.contenido_titulo,
.contenido_titulo_span {
    font-size: 2em;
    color: var(--bg-header);
    font-weight: 300;
    letter-spacing: 1.2px;
    margin: .5em 0;
}

.contenido_titulo_span {
    font-size: 1.5em;
    margin: 0;
}

.select {
    position: relative;
    display: flex;
    width: 100%;
    padding: var(--relleno-input);
    background: transparent;
    border: 1px solid var(--color-text-empresa);
    border-radius: var(--border-redondeado);
    line-height: 3;
    overflow: hidden;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 1em;
    cursor: pointer;
    pointer-events: none;
    transition: .3s all ease;
    font-size: 14px;
}

.select:hover::after {
    color: var(--color-secundario);
}

.select:hover:after {
    transform: rotate(180deg);
}

/* LUGAR DE NACIMIENTO */
.titulo_2 {
    font-size: 1.8em;
    margin: 1em 0;
}

/* VENTANA POP UP PARA REGISTRAR UN DOMICILIO */
.ventana_overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.ventana_contenedor {
    width: 100%;
    max-width: 760px;
    overflow-y: auto;
    padding: 20px 10px;
    position: relative;
    background-color: var(--color-white);
    border-radius: var(--border-redondeado-ventana-modal);
    animation-name: modal;
    animation-duration: .5s;
    box-shadow: var(--box-shadow-caja-modal);
    z-index: 20;
}

.ventana_contenedor embed {
    width: 100%;
    min-height: 640px;
}

/* VENTANA POP UP PARA REGISTRAR UN FAMILIAR */
.radio_contenedor {
    margin-top: .5em;
    margin-bottom: .5em;
}

.radio_contenedor,
.radio_grupo,
.radio_grupos {
    display: flex;
    gap: 1em;
    align-items: center;
}

.radio_contenedor span {
    width: max-content;
}

@keyframes modal {
    from {
        transform: translateY(50vh);
    }

    to {
        transform: translateY(0);
    }
}

.cerrar_modal {
    transition: transform 1s cubic-bezier(0, -0.42, 1, -0.41);
    transform: translateY(60vh);
}

/* Ocultar scroll para chrome, safari y opera */
.ventana_contenedor::-webkit-scrollbar {
    display: none;
}

/* Ocultar scroll para IE, Edge y Firefox */
.ventana_contenedor {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* ESTILOS PARA BOTONES EN VENTANA MODAL */
.ventana_botones {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}

.ventana_btn {
    border: 1px solid;
    outline: none;
    padding: var(--relleno-input);
    border-radius: var(--border-redondeado-boton-ventana);
    cursor: pointer;
    background-color: transparent;
    font-size: 1rem;
    text-transform: uppercase;
}

.ventana_btn-primario {
    border-color: var(--bg-header);
    background-color: var(--bg-header);
    color: var(--color-white);
    transition: opacity .3s, transform .3s;
}

.ventana_btn-primario:hover {
    opacity: .8;
}

.ventana_btn-primario:active,
.ventana_btn-secundario:active {
    transform: scale(1.1);
}

.ventana_btn-secundario {
    border-color: var(--bg-header);
    color: var(--bg-header);
    transition: background-color .3s, color .3s, transform .3s;
}

.ventana_btn-secundario:hover {
    background-color: var(--bg-header);
    color: var(--color-white);
}

/* PAGINA ASISTENCIAS */
.main_asistencias {
    flex-direction: column;
}

.contenedor_botones_asistencias {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contenedor_botones_asistencias p {
    font-size: clamp(1rem, 1.2vw, 2rem);
}

.semestre_asistencias {
    margin-bottom: 1rem;
}

.select_asistencias {
    margin-top: .5rem;
    width: 100%;
    max-width: 160px;
}

.contenedor_botones_fechas {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.boton_asistencias_fecha {
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: left;
    background-color: var(--bg-sub-item);
    color: var(--color-black);
}

.boton_asistencias_fecha:hover {
    background-color: var(--color-text-empresa);
    color: var(--color-white);
}

.boton_asistencias_fecha:active {
    transform: unset;
}

.activo {
    background-color: var(--bg-header);
    color: var(--color-white);
}

.resumen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
}

/* FIN PAGINA ASISTENCIAS */

/* PAGINA HORARIO */
.cabecera_horario {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.informacion_horario {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.informacion_horario>h2 {
    color: var(--bg-header);
    font-size: clamp(1rem, 5vw, 1.5rem);
}

.textos_horario h1 {
    font-size: clamp(1.5rem, 5vw, 2rem);
    margin-bottom: .5rem;
}

.textos_horario strong,
.textos_horario p {
    font-size: clamp(.8rem, 2vw, 1rem);
}

.boton_pdf {
    background-color: var(--color-danger);
}

.boton_pdf:hover {
    background-color: var(--color-danger-hover);
    color: var(--bg-aside);
}

.contenido_horario h3 {
    font-size: clamp(1rem, 5vw, 1.5rem);
    color: var(--color-text-empresa);
    font-weight: 500;
    margin-bottom: 1.5rem;
}

/* FIN PAGINA HORARIO */

@media (min-width: 760px) {
    .nav {
        min-height: 64px;
        width: calc(100% - 300px);
    }

    .nav.ancho_maximo {
        width: 100%;
    }

    aside {
        width: 300px;
    }

    aside.menu_side_move {
        width: 0;
    }

    .overlay.visible {
        opacity: 0;
        visibility: unset;
        pointer-events: unset;
    }

    /* CONTENIDO PRINCIPAL */
    .grupos_inputs {
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }

    .grupo_columna {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
    }

    .contenedor_botones_accion--2 {
        margin-top: 1em;
    }

    /* PAGINA HORARIO */
    .cabecera_horario {
        flex-direction: row;
        justify-content: space-between;
    }

    .informacion_horario {
        margin-right: 2rem;
    }

    .contenido_horario h3 {
        text-align: right;
        margin-bottom: 0;
    }

    /* FIN PAGINA HORARIO */

}

@media (min-width: 1024px) {}

@media (max-width: 768px) {

    /* TABLA DOMICILIO */
    .tabla thead {
        display: none;
    }

    .tabla,
    .tabla tbody,
    .tabla tr,
    .tabla td {
        display: block;
        width: 100%;
    }

    .tabla tbody tr td {
        text-align: right;
        padding-left: 50%;
    }

    .tabla td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: 600;
        font-size: 14px;
        text-align: left;
    }

    .ventana_contenedor {
        height: 620px;
    }

    .editar i,
    .eliminar i {
        display: block;
    }

    /* PAGINA ASISTENCIAS */
    .contenedor_botones_asistencias p {
        margin-bottom: 1rem;
    }

    .botones_flex {
        flex-direction: column;
        gap: unset;
    }

    .botones_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    /* FIN PAGINA ASISTENCIAS */
}