@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.contenedor-login{
    position: relative;
    top: 90px;
}
.contenedor_informacion{
    margin-top: 5rem;
}
.logo_uni{
    margin-top: 1rem;
}